
$color_pink: #ff2882;
$color_green: #00ff87;
$color_blue: #57d5e6;
$color_back: #37003c;
$color_slgray: #ca6cf0;
$color-white: #fff;
$color-dark: #242424;
$color-purplish: #0D021A;
$color-secondary: #101d2c;
// 60b0f4
// logomakr.com/9pRCON