.main_content {
    grid-column: center-start / center-end;
    background-image: linear-gradient(to right, rgba($color-secondary, 0.9) 50% , rgba($color-secondary, 0.2)), url("../img/cover.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: 0.05rem;
   
    
    position: relative;
} 

.hero {
    display: flex;
}
.text-box {
    height: 100vh;
    width: 50%;
    color: $color_white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // position:absolute;
    //  top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // width: 80%;
    // text-align: center;
}

.feature {
    display: flex;
    grid-column: center-start / center-end;
    &__box {
        padding: 20rem 10rem;
        color: red;
    }
}


